<p-toast></p-toast>
<div class="admin-page">
  <p-card [header]="editmode ? 'EditMode' : 'Add User'" subheader="You can add or edit users here"
    styleClass="text-center">
    <div class="p-grid mb-5">

    </div>
    <div class="p-grid">
      <div class="col-12 ">
        <form [formGroup]="form">
          <div class="p-fluid formgrid grid">
            <div class="field col-12 md:col-4">
              <div class="p-inputgroup">
                <input formControlName="name" type="text" pInputText placeholder="Name">
                <small *ngIf="form.controls.name.invalid && isSubmitted" class="p-error">Name is required.</small>
              </div>
            </div>

            <div class="field col-12 md:col-4">
              <div class="p-inputgroup">
                <input formControlName="email" type="text" pInputText placeholder="Email">
                <small *ngIf="form.controls.email.invalid && isSubmitted" class="p-error"><span
                    *ngIf="form.controls.email.errors.required">email is required</span>Email is required.</small>
              </div>
            </div>

            <div class="field col-12 md:col-4">
              <div class="p-inputgroup">
                <input formControlName="password" type="text" pInputText placeholder="Password">
              </div>
            </div>

            <div class="field col-12 md:col-4">
              <div class="p-inputgroup">
                <input formControlName="phone" type="text" pInputText placeholder="Phone">
                <small *ngIf="form.controls.phone.invalid && isSubmitted" class="p-error">Phone is required.</small>
              </div>
            </div>

            <div class="field col-12 md:col-8">
              <div class="p-inputgroup">
                <label class="switch">
                  <input formControlName="isAdmin" type="checkbox">
                  <span class="slider"></span>
                </label>
              </div>
            </div>

            <div class="field col-12 md:col-4">
              <div class="p-inputgroup">
                <input formControlName="street" type="text" pInputText placeholder="Street">
              </div>
            </div>

            <div class="field col-12 md:col-4">
              <div class="p-inputgroup">
                <input formControlName="apartment" type="text" pInputText placeholder="Apartment">
              </div>
            </div>

            <div class="field col-12 md:col-4">
              <div class="p-inputgroup">
                <input formControlName="zip" type="text" pInputText placeholder="Zip Code">
              </div>
            </div>

            <div class="field col-12 md:col-4">
              <div class="p-inputgroup">
                <input formControlName="city" type="text" pInputText placeholder="City">
              </div>
            </div>

            <div class="field col-12 md:col-4">
              <div class="p-inputgroup">
                <input formControlName="country" type="text" pInputText placeholder="Country">
              </div>
            </div>

          </div>
          <div class="p-col-12 ">
            <div class="btn">
              <button class="btn1" (click)="onSubmit()"> Create</button>
              <button class="btn2" (click)="onCancle()"> Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
