.d-item {
  display: flex;
  text-align: center;
  color: white;
  justify-content: space-between;

  .pi {
    font-size: 4em;
    margin-bottom: 15px;
  }

  .name {
    font-size: 1.4em;
  }

  .number {
    font-size: 2.5em;
    margin-top: 15px;
  }
}

.d-orders {
  background-color: #6d3110;
  background-image: linear-gradient(0deg, #6d3110 0%, #f7ce68 100%);
}
.d-products {
  background-color: #6d3110;
  background-image: linear-gradient(45deg, #6d3110 0%, #ffc37d 100%);
}
.d-users {
  background-color: #6d3110;
  background-image: linear-gradient(180deg, #6d3110 0%, #e2e095 100%);
}
.d-totalsales {
  background-color: #6d3110;
  background-image: linear-gradient(90deg, #6d3110 0%, #eee67c 100%);
}
